---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == 'blank' %}
        <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }}
        {{ site.last_name }}
      {% else %}
        <span class="font-weight-bold">{{ site.title }}</span>
      {% endif %}
    </h1>
    <p class="desc">{{ page.subtitle }}</p>
  </header>

  <article>
    {% if page.profile %}
      <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
        {% if page.profile.image %}
          {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
          {% if page.profile.image_circular %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
          {% else %}
            {% assign profile_image_class = 'img-fluid z-depth-1
      rounded' %}
          {% endif %}
          {% capture sizes %}150px{% endcapture %}
          {%
            include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=page.profile.image
            cache_bust=true
          %}
        {% endif %}
        {% if page.profile.more_info %}
          <div class="more-info">{{ page.profile.more_info }}</div>
        {% endif %}
      </div>
    {% endif %}

    <div class="clearfix">{{ content }}</div>

    <!-- News -->
    {% if page.announcements and page.announcements.enabled %}
      <h2 style="font-weight: 400">
        <a href="{{ '/news/' | relative_url }}" style="color: inherit">News</a>
      </h2>
      {% include news.liquid limit=true %}
    {% endif %}

    <!-- Latest posts -->
    {% if page.latest_posts and page.latest_posts.enabled %}
      <h2 style="font-weight: 400">
        <a href="{{ '/blog/' | relative_url }}" style="color: inherit">Latest Posts</a>
      </h2>
      {% include latest_posts.liquid %}
    {% endif %}

    <!-- Selected papers -->
    {% if page.selected_papers %}
      <h2 style="font-weight: 400">
        <a href="{{ '/publications/' | relative_url }}" style="color: inherit">Selected Publications</a>
      </h2>
      {% include selected_papers.liquid %}
    {% endif %}

    <h2 style="font-weight: 400">Honors and Awards</h2>
    <ul>
      <li>SJTU Zhiyuan Honors Doctorate Distinction, 2025</li>
      <li>CACM Research Highlight, 2025</li>
      <li>2023 ACM SIGMOD Research Highlight Award, 2023</li>
      <li>SIGMOD 2022 Best Paper Honorable Mention, 2022</li>
      <li>SJTU Qiushi Graduate Scholarship, 2020</li>
      <li>SJTU Excellent Bachelor Thesis (top 1%), 2019</li>
      <li>SJTU First-Class Academic Excellence Scholarship (top 1%), 2017</li>
      <li>China National Scholarship (top 2%), 2017</li>
      <li>SJTU Lvyun Scholarship (top 2%), 2017</li>
    </ul>

    <h2 style="font-weight: 400">Service and Teaching</h2>
    <ul>
      <li>Shadow PC, EuroSys 2022</li>
      <li>Head TA and guest lecturer, Computer System Design and Implementation (SJTU X037514), 2021 Spring</li>
      <li>TA, Compilers (SJTU SE302), 2020 Fall</li>
      <li>TA, Programming and Data Structure (SJTU SE117), 2017 Spring</li>
    </ul>

    <!-- Social -->
    {% if page.social %}
      <div class="social">
        <div class="contact-icons">{% include social.liquid %}</div>

        <div class="contact-note">{{ site.contact_note }}</div>
      </div>
    {% endif %}

    {% if site.newsletter and site.newsletter.enabled and site.footer_fixed %}
      {% include newsletter.liquid center=true %}
    {% endif %}
  </article>
</div>
